<footer>
        <nav>
            <ul>
                <li> <a href="#"> Acerca de Nosotros </a></li>
                <!--REDES-->
                <li> <a href="#"> <img src="" alt="Facebook"> </a> </li>
                <li> <a href="#"> <img src="" alt="X"> </a> </li>
                <li> <a href="#"> <img src="" alt="Google"> </a> </li>
                <li> <a href="#"> <img src="" alt="Tiktok"> </a> </li>
            </ul>
</footer>
