<footer>

    <a href="#"> Acerca de Nosotros </a>

            <ul>                
                <!--REDES-->
                <li> <a href="#"> <img src="/imgs/Facebook - Wilhelm..avif" alt="Facebook"> </a> </li>
                <li> <a href="#"> <img src="/imgs/X - Wilhelm..avif" alt="X"> </a> </li>
                <li> <a href="#"> <img src="/imgs/Instagram - Wilhelm..avif" alt="Instagram"> </a> </li>
            </ul>

</footer>
