<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilhelm</title>
    <link rel="icon" href="public/imgs/Logo - Wilhelm..png" type="image/png">
    <link rel="stylesheet" href="/public/css/style.css">
</head>