<header>
    <div class="header-logo">
        <img src="/imgs/Logo - Wilhelm..png" alt="Logo" style="width:50px; height:40px; object-fit:contain;">
    </div>
    <div class="header-buscador">
        <form>
            <input type="text" placeholder="Buscar">
        </form>
    </div>
    <div class="header-icons">
        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>  <!-- Icono de Carrito. -->
        <a href="#"><i class="fa-solid fa-heart"></i></a> <!-- Icono de Favoritos. -->
        <a href="/users/login"><i class="fa-solid fa-user"></i></a> <!-- Icono de Usuario. -->
        <a href="#"><i class="fa-solid fa-bars"></i></a> <!-- Icono de Menú. -->
    </div> 
</header>