<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilhelm - Compra</title>
</head>
<body>
    
    <h1>Mi carrito de Compra</h1> <!--(CONTADOR)-->




<div class="total_carrito">
    <p>Total: $<!--CONTADOR--> ARG <br>
       Envio: $<!--CONTADOR--> ARG <br><br>

       Total: $<!--CONTADOR--> ARG
    </p>
</div>
    <p>¿Queres seguir comprando?</p>

</body>
</html>