<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Wilhelm - Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Bienvenido a Wilhelm</h1>
    <ul>
        <li><a href="/products/women">Productos para Mujeres</a></li>
        <li><a href="/products/men">Productos para Hombres</a></li>
        <li><a href="/accesorios">Accesorios</a></li>
        <li><a href="/carrito">Carrito de Compras</a></li>
    </ul>
</body>
</html>
