<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilhelm Oficial</title>
</head>
<body>
    
    

    <nav>
        <ul>
            <li> <a href="#"> Inicio </a></li>
            <li> <a href="#"> Acerca de Nosotros </a></li>
            <li> <a href="#"> Productos </a></li>
            <li> <a href="#"> </a></li>
            <li> <a href="#"> </a></li>
        </ul>
    </nav>

    <section>
        
    </section>


</body>
</html>