<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilhelm Oficial</title>
</head>
<body>
    
    <header>
        <img src="public/imgs/Logo - Wilhelm..png" alt="Logo de Wilhelm"> <!--Logo Rojo.-->
        <!--Buscador.-->
        <img src="" alt="Carrito de Compra"> <!--Carrito de Compra: https://ninjastorage.blob.core.windows.net/companyfiles/183782748/90b36e10-139a-4010-ae0d-83e05b80dea2.png-->
        <img src="" alt="Lista de Favoritos"> <!--Favoritos.-->
        <img src="" alt="Perfil"> <!--Usuarios.-->
        <img src="" alt="Menu"> <!--Menu de Hamburgesa.-->
    </header>

    <nav>
        <ul>
            <li> <a href="#"> Inicio </a></li>
            <li> <a href="#"> Acerca de Nosotros </a></li>
            <li> <a href="#"> Productos </a></li>
            <li> <a href="#"> </a></li>
            <li> <a href="#"> </a></li>
        </ul>
    </nav>

    <section>
        
    </section>

    <footer>
        <nav>
            <ul>
                <li> <a href="#"> Acerca de Nosotros </a></li>
                <!--REDES-->
                <li> <a href="#"> <img src="" alt="Facebook"> </a> </li>
                <li> <a href="#"> <img src="" alt="X"> </a> </li>
                <li> <a href="#"> <img src="" alt="Google"> </a> </li>
                <li> <a href="#"> <img src="" alt="Tiktok"> </a> </li>
            </ul>
    </footer>

</body>
</html>