<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilhelm - Login</title>
</head>
<body>

    <a href="views/login.html"> Iniciar Sesión </a>
    <a href="views/register.html"> Crear Cuenta </a>

    <!-- Formulario -->
     <form method="post">
        <input type="email" name="email" id="email" placeholder="* Correo Electrónico" autofocus required>
        <input type="password" name="password" id="password" placeholder="* Contraseña" required>
     
        <a href="views/recuperarContrasenia.html">¿Has olvidado la contraseña?</a>

        <button type="submit">Iniciar Sesión</button>
    </form>

    <a href=""> <img src="/public/imgs/Google - Wilhelm..png" alt=""> </a>
    <a href=""> <img src="/public/imgs/Facebook - Wilhelm..avif" alt=""> </a>
</body>
</html>