<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilhelm - Login</title>
    <link rel="icon" href="public/imgs/Logo - Wilhelm..png" type="image/png">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <div class="login-register">
    <a href="views/login.html" class="active"> Iniciar Sesión </a>
    <a href="views/register.html"> Crear Cuenta </a>
    </div>

    <!-- Formulario -->
     <form method="post">
        <input type="email" name="email" id="email" placeholder="* Correo Electrónico" autofocus required>
        <input type="password" name="password" id="password" placeholder="* Contraseña" required>
     
        <a href="views/recuperarContrasenia.html">¿Has olvidado la contraseña?</a>

        <button type="submit">Iniciar Sesión</button>
    </form>
    
    <div class="social-icons">
    
    <div class="circle"></div>
    <a href="#"> <img src="/public/imgs/Google - Wilhelm..png" alt="Google"> </a>
    <a href="#"> <img src="/public/imgs/Facebook - Wilhelm..png" alt="Facebook"> </a>
    </div>

</body>
</html>