<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilhelm - Register</title>
</head>
<body>
    
    <a href="login.html">Iniciar Sesión</a>
    <a href="register.html"> Crear Cuenta </a>

    <!--Formulario.-->
    <form action="" method="post">
        <input type="email" name="email" id="email" placeholder="* Correo Electronico" autofocus required>
        <input type="password" name="password" id="password" placeholder="* Contraseña" required>
        <input type="password" name="password" id="password" placeholder="* Confirmar Contraseña" required>

        <input type="checkbox" name="register" id="register" required>
        <label for="register">Al registrarse, aceptas nuestros términos y condiciones. Además, sus datos estarán protegidos.</label>

        <button type="submit">Crear Cuenta</button>
  <!----<input type="reset" value="Limpiar"> -->
    </form>

    <a href=""><img src="/public/imgs/Google - Wilhelm..png" alt="Icono de Google"></a>
    <a href=""><img src="/public/imgs/Facebook - Wilhelm..avif" alt="Icono de Facebook"></a>
    
</body>
</html>