body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8de;
}

/* EL HEADER Y FOOTER: */
header, footer {
  background-color: #731702;
}

header a, footer a {
  color: #fff8de;
  text-decoration: none;
}

header a:hover, footer a:hover {
  color: #8c6849; /* Cambia el color al pasar el mouse */
}


/* Buscador: 
.buscador {
  width: 400px;
  border: 2px solid #fff8de;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
} */