<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', {style : 'general', stylemain : 'login'})  %>

<body>

    <%- include('../partials/header') %>

    <div class="login-register">
    <a href="/users/login" class="active"> Iniciar Sesión </a>
    <a href="/users/register"> Crear Cuenta </a>
    </div>

    <!-- Formulario -->
     <form method="post">
        <input type="email" name="email" id="email" placeholder="* Correo Electrónico" autofocus required>
        <input type="password" name="password" id="password" placeholder="* Contraseña" required>
     
        <a href="views/recuperarContrasenia.html">¿Has olvidado la contraseña?</a>

        <button type="submit">Iniciar Sesión</button>
    </form>
    
    <div class="social-icons">
    
    <div class="circle"></div>
    <a href="#"> <img src="/imgs/Google - Wilhelm..png" alt="Google"> </a>
    <a href="#"> <img src="/imgs/Facebook - Wilhelm..png" alt="Facebook"> </a>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>